<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.callfinder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/app"
        android:theme="@style/Theme.MyTheme" >
        <activity
            android:name="com.example.callfinder.FindCalls"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.callfinder.FINDCALLS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.callfinder.StartScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start_screen"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.callfinder.Popup"
            android:label="@string/title_activity_popup" >
        </activity>
        <activity
            android:name="com.example.callfinder.SearchClass"
            android:label="@string/title_activity_search_class" >
        </activity>
        <activity
            android:name="com.example.callfinder.FindTexts"
            android:label="@string/title_activity_find_texts" >
            <intent-filter>
                <action android:name="com.example.callfinder.FINDTEXTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>